body {
  margin: 0;
 font-family: fangsong;
 background-color: black;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.mainContent {
  margin-left: 70px;
  flex-grow: 1;  
  padding: 10px;
}

